@inject IDialogService DialogService
@inject IStringLocalizer<AppResource> Localizer

<FluentHeader Class="site-header">
    <div class="site-header__left">
        <a href="/" aria-label="Back to the homepage">
            <img src="logo.png" alt="Example app logo" width="40px" height="40px" />
        </a>
    </div>
    <FluentSpacer />
    <div class="site-header__center">
        <h3>@Title</h3>
    </div>
    <FluentSpacer />
    <div class="site-header__right">
        @* <h3>Settings</h3> *@
        @* <h3>@Localizer["Settings"]</h3> *@

        <input type="checkbox" title="@Localizer["MenuExpandCollapse"]" id="navmenu-toggle" class="navmenu-icon" />
        <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
        <FluentButton OnClick="OpenSiteSettingsAsync" Title="Site settings" ButtonAppearance="@Appearance.Stealth">
            <FluentIcon Value="@(new Icons.Regular.Size20.Settings())" Color="Color.Neutral" Title="Site" />
        </FluentButton>
    </div>
</FluentHeader>

@code {

}
